# System or Ubuntu aliases ------------------
alias zshconfig="vi ~/.zshrc"
alias ohmyzsh="vi ~/.oh-my-zsh"
alias pbcopy="xclip -sel clip"
alias pbpaste="xclip -selection clipboard -o"
alias pbselect="xclip -selection primary -o"
alias open='xdg-open'
alias sysinfo="neofetch"
# GIT ---------------------------------------
alias gv="git --version"
alias obsidian_sync='cd ~/Code/personal/obsidian && ggpull && gaa && git commit -m "sync" && ggpush'
alias about=neofetch
